<!DOCTYPE html>
<html lang="zxx">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="description" content="Orbitor,business,company,agency,modern,bootstrap4,tech,software">
  <meta name="author" content="themefisher.com">

  <title>Scheduler</title>

  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="/Teacher/images/favicon.ico" />

  <!-- bootstrap.min css -->
  <link rel="stylesheet" href="/Teacher/plugins/bootstrap/css/bootstrap.min.css">
  <!-- Icon Font Css -->
  <link rel="stylesheet" href="/Teacher/plugins/icofont/icofont.min.css">
  <!-- Slick Slider  CSS -->
  <link rel="stylesheet" href="/Teacher/plugins/slick-carousel/slick/slick.css">
  <link rel="stylesheet" href="/Teacher/plugins/slick-carousel/slick/slick-theme.css">

  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="/Teacher/css/style.css">
</head>

<body id="top">

  <header>
    <nav class="navbar navbar-expand-lg navigation" id="navbar">
      <div class="container">
        <a class="navbar-brand" href="index.html">
          <img src="images/logo.png" alt="" class="img-fluid" />
        </a>

        <button
          class="navbar-toggler collapsed"
          type="button"
          data-toggle="collapse"
          data-target="#navbarmain"
          aria-controls="navbarmain"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="icofont-navigation-menu"></span>
        </button>

        <div>
          <h1>Teacher Dashboard</h1>
        </div>

        <div class="collapse navbar-collapse" id="navbarmain">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="index.html"></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="about.html"></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"
                >SIGNED IN AS :
                <span style="font-weight: bold; font-size: large"
                  ><%= username %></span
                ></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
	


<section class="page-title bg-1">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block text-center">
          <!-- <span class="text-white">Book your Seat</span> -->
          <h1 class="text-capitalize mb-5 text-lg">Edit a Class</h1>

          <!-- <ul class="list-inline breadcumb-nav">
            <li class="list-inline-item"><a href="index.html" class="text-white">Home</a></li>
            <li class="list-inline-item"><span class="text-white">/</span></li>
            <li class="list-inline-item"><a href="#" class="text-white-50">Book your Seat</a></li>
          </ul> -->
        </div>
      </div>
    </div>
  </div>
</section>

<section class="appoinment section">
  <div class="container" style="max-width: 800px;">
    <div class="row">
      <div class="col-lg-12">
           <div class="appoinment-wrap mt-5 mt-lg-0 pl-lg-5">
            <h2 class="mb-2 title-color">Please fill in the details</h2>
               <form id="#" class="appoinment-form" method="post" action="/teacher/<%= meeting._id %>/editclass">
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="form-group">
                            <input name="TeacherClass[topic]" id="topic" type="text" value="<%= meeting.topic %>" class="form-control" placeholder="<%= meeting.topic %>">
                        </div>
                      </div>
                         <div class="col-lg-6">
                            <div class="form-group">
                                <!-- <select class="form-control" id="strength_allowed" name="strength_allowed">
                                  <option>Choose Strength</option>
                                  <option>50 %</option>
                                  <option>33 %</option>
                                  <option>25 %</option>
                                  <option>20 %</option>
                                </select> -->
                              <input name="TeacherClass[strength_allowed]" id="strength_allowed" value="<%= meeting.strength_allowed %>" type="number" class="form-control" placeholder="<%= meeting.strength_allowed %>">

                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <select class="form-control" id="vaccination_required" name="TeacherClass[vaccination_required]">
                                  <!-- <option>Vaccination Options</option> -->
                                  <option>Vaccination Required</option>
                                  <option>Vaccination Not Required</option>
                                </select>
                            </div>
                        </div>

                         <div class="col-lg-6">
                            <div class="form-group">
                                <input name="TeacherClass[date]" id="date" type="date" value="<%= meeting.date %>" class="form-control" placeholder="<%= meeting.date %>">
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group">
                                <input name="TeacherClass[time]" id="time" type="time" value="<%= meeting.time %>" class="form-control" placeholder="<%= meeting.time %>">
                            </div>
                        </div>
                    </div>
                    <div class="form-group-2 mb-4">
                        <textarea name="TeacherClass[message]" id="message" class="form-control" rows="6" placeholder="Your Message"><%= meeting.message %></textarea>
                    </div>

                    <button class="btn btn-main btn-round-full" type="submit">Edit Class<i class="icofont-simple-right ml-2"></i></button>
                </form>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>


    <!-- 
    Essential Scripts
    =====================================-->

    
    <!-- Main jQuery -->
    <script src="/Teacher/plugins/jquery/jquery.js"></script>
    <!-- Bootstrap 4.3.2 -->
    <script src="/Teacher/plugins/bootstrap/js/popper.js"></script>
    <script src="/Teacher/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="/Teacher/plugins/counterup/jquery.easing.js"></script>
    <!-- Slick Slider -->
    <script src="/Teacher/plugins/slick-carousel/slick/slick.min.js"></script>
    <!-- Counterup -->
    <script src="/Teacher/plugins/counterup/jquery.waypoints.min.js"></script>
    
    <script src="/Teacher/plugins/shuffle/shuffle.min.js"></script>
    <script src="/Teacher/plugins/counterup/jquery.counterup.min.js"></script>
    <!-- Google Map -->
    <script src="/Teacher/plugins/google-map/map.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkeLMlsiwzp6b3Gnaxd86lvakimwGA6UA&callback=initMap"></script>    
    
    <script src="/Teacher/js/script.js"></script>
    <script src="/Teacher/js/contact.js"></script>

  </body>
  </html>